<md-dialog aria-label="Event"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools myToolbar">
        <span flex></span>
      </div>
    </md-toolbar>
    <br>
    <md-dialog-content>

        <h3>
        <div>
          <label for="title" class="editLabel">&nbsp;&nbsp;&nbsp;&nbsp;Name:</label>
          <input name='title' type="text"
            ng-model="event.name"
            placeholder="Enter event name here" value="{event.name}" class="editInput"/><br><br>
        </div>
        <div>
        <label class="editLabel">&nbsp;&nbsp;&nbsp;&nbsp;Image:</label>
        <center> <input type='text' ng-model='event.image' class='search' style="background-color: grey; margin-top:2em; border-color: white;" /> </center>
        </div>
        <div>
          <br>
          <label ng-show="filled===false" ng-hide="filled===true" style="color:red;">{{errorMsg}}</label>
        </div>
        </h3>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="getImage()">
       upload
      </md-button>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
