<style>body{
    background-image:url(/assets/back.gif);
    }</style>

<!-- <div class="bubbleChart"/> -->


 <img src="../assets/img2.jpg" style="width:100%"> 

<div   ng-controller="HomeController"  ng-cloak>
   <center> <div >
     	<input class='search' style='margin-top: 5em; border-color: white;' type='text' ng-model='search' placeholder='search' /><br><br>
    </div> </center>
    

   <center> <div style="padding: 4em ;" class="st_thumbs_wrapper li-first ">
     <div class="st_thumbs"

            ng-repeat="user in data.users | filter:search">

            <img ng-if="user.username!=='admin'"  ng-src="{{user.image}}" ng-click="showProfile($event,user)" style="width:14% ;">

            <br><br>
    	</div> <center>
    </div>
</div>

