<script>
	alert('5');
</script>
<div class="row">
<div class="col-md-2" style="overflow-y : scroll ; height : 800px">
	<div>
		<input type="text" class="form-control" name="search" placeholder="Search" ng-model="search">
	</div>
	<div class="list-group" >
		<button type="button" ng-repeat="user in data.users | filter :search" class="list-group-item" ng-click="setUser(user)">
			{{user.username}}
		</button>
	</div>
</div>
<div class="list col-md-6 " id="scrollDiv" scroll-bottom="data.messages" style="overflow-y : scroll ; height : 800px" scroll-glue>
	<ul>
	<li  ng-repeat="message in data.messages" class="list-group-item">
		<div ng-if="message.from===toUser.username">
			<img class="img-circle" ng-src={{toUser.image}} ng-load="console.log('2')" width="50px">
		</div>
		<div ng-if="message.from===curentUser.username">
			<img class="img-circle" ng-src={{curentUser.image}} ng-load="console.log('2')" width="50px">
		</div>
		<div style="padding-left:10px">
			<p>{{message.text}}</p>
		</div>
	</li>
	</ul>
	<div  id="footer" class="list col-md-6">
			<input  type="text" class="form-control" ng-model="messageText" placeholder="Text input" style="width:80% ; float:left">
			<button type="button" ng-click="sendMessage()" style="width:18%">send</button>
	</div>
</div>
<div class="list-group col-md-4">
	<div type="button"  class="list-group-item" >
		<!-- {{data.users[0]}} -->
		<img ng-src="{{toUser.image || curentUser.image}}" alt="Description" width="100%" />
		<h1 style="text-align:center;">{{toUser.firstName ||  +" "+ toUser.lastName || curentUser.lastName}}</h1>
		<h2 style="text-align:center;">
		<a href="{{toUser.gitHub}}"><i class="fa fa-github" aria-hidden="true"></i> {{toUser.username || curentUser.username}}</a></h2>
		


		<table class="table-responsive">
			<table class="table">
				<tr>
					<td>email</td>
					<td>{{toUser.email || curentUser.email}}</td>
				</tr>
				<tr>
					<td>Cohort Number</td>
					<td>{{toUser.cohortNumber || curentUser.cohortNumber}}</td>
				</tr>
			</table>
		</table>


	</div>
</div>

</div>